html {
  margin: 0 200 0 200;
  background-image: url("https://s-media-cache-ak0.pinimg.com/736x/26/b9/cb/26b9cbac2c7d4f9ee62757e371f18bcb.jpg");
  background-repeat:repeat;
  text-align:center;
  border:100px solid black;
}

.subway {
  display: inline-block;
}

img {
  margin: 5px;
}

body {
  font-family: 'Gochi Hand', cursive;
  color: white;
}

h1 {
  font-size:60px;

}

h3 {
  font-size: 40px;

}

.words {
  background:black;
  width:500px;
  margin:auto;
  /*float:left;*/
}

.but {
  height:150px;
  width:300px;
  font-size:40px;
  font-weight:bold;
  background-color:purple;
  border: 5 px solid teal;

}
